{% extends 'layouts/base.html' %}

{% block nav %}
    {% include 'components/common_nav.html' %}
{% endblock %}

{% block content %}
<div class="split left">
    <ul class="wrapper">
      <li>
        <h3>New Questions</h3>
      </li>
    </ul>
    <form class="title">
        <label>Title</label>
        <input type="text" class="textTitle" name=""/><br><br>
        <label style="position:fixed; margin-top: 3px;">Text</label>
        <textarea></textarea><br><br>
        <label>Tags</label>
        <input type="text" class="textTitle" name=""/><br><br>
        <button type="button" class="btn btn-info">ASK!</button>
    </form>
</div>
{% endblock %}