{% extends 'layouts/base.html' %}
{% block nav %}
    {% include 'components/common_nav.html' %}
{% endblock %}

{% block content %}
<ul class="wrapper">
    <li>
        <h3>Log in</h3>
    </li>
</ul>
    <p class="LogText">Sorry, wrong password!</p>
    <p class="Textsettings">Login</p>
    <input type="text" class="TextareaSettings"></input>
    <br><br>
    <p class="Textsettings">Password</p>
    <input class="TextareaSettings" type="password"></input>
    <br><br>
    <button type="button" class="btn btn-secondary" style="left: 175px; position: absolute;">Log in!</button>
    <br><br>
    <a style="margin-left: 175px;"href="url">create new account</a>
{% endblock %}