{% extends 'layouts/base.html' %}
{% load static %}

{% block nav %}
    {%  include 'components/common_nav.html' %}
{% endblock %}

{% block content %}
    {% include 'components/question-item.html' %}
    <hr style="width: 900px; margin-left: 50px;">
    {% for answer in page_obj %}
        {% include 'components/answer-item.html' %}
    {% endfor %}

    {% include 'components/pagination.html' %}

  <hr style="width: 900px; margin-left: 50px;">

  <textarea class="questionTextarea">Enter your answer here...</textarea>
  <button type="button" class="btn btn-secondary answerButton">Answer!</button>
{% endblock %}