{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    {% include 'components/question-item.html' %}
    <hr style="width: 900px; margin-left: 50px;">
    {% for answer in page_obj %}
        {% include 'components/answer-item.html' %}
    {% endfor %}

    {% include 'components/pagination.html' %}

  <hr style="width: 900px; margin-left: 50px;">
    <form method="post">
        {% csrf_token %}
        <textarea id="text" name="text" class="questionTextarea"></textarea>
        <input type="hidden" name="question_id" value="{{ question.id }}">
        <button type="submit" class="btn btn-secondary answerButton">Answer!</button>
    </form>
{% endblock %}