{% load static %}

<div class="answer">
    <img class="questionPhoto" src="{{ answer.author.avatar.url }}" alt="Avatar" width="40" height="40"  class="avatar">
    <p class="questionP">{{ answer.text }}</p>
    <br>
    <div style="white-space: nowrap;">
        <button class="answerIcon" data-id="{{ answer.id }}"><i class="bi bi-hand-thumbs-up"></i></button>
        <div class="LikeCount">{{ answer.likes.all.count }}</div>
    </div>
    <br>
    <div>
        <button class="correctIcon" value="Correct!" data-id="{{ answer.id }}"><i class="bi bi-check"></i></button>
        <p class="AnswerBool">{{ answer.correct }}</p>
    </div>
</div>